p{
    text-align: center;
}

body{
    background: #cccccc;
    
}
#banner{
width: 100%;
}


h1{
    text-align: center;
    height: 100px;
    border: 10px solid #000000 ;
}

#missao{
    font-size: 20px;
}


em strong{
    color: rgb(81, 0, 255);
}